body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #141b15;
    font-family: 'Courier New', Courier, monospace;
}
a{
    color: #E5E7EB;
    text-decoration: none;
}
a:hover{
    color: #3882F6;
}
ul{
   list-style: none;
   padding: 0;
   margin: 0;
}
.header-container{
    display: flex;
    flex: 1;
    border-bottom:#e5e7eb3f;
    border-width: 0 0 1px 0;
    border-style: solid;
    padding: 2% 15% 1% 15%;
}
.header-container h3{
    color: #F9FAF8;
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-weight: 900;
}
.header-container-links{
    display: flex;
    gap: 20px;
}
.header-container div{
    margin-left: auto;
}
.hero-container{
    display: flex;
    margin: 4% 0%;
    padding: 0% 20%;
}
.hero-container img{
    margin-left: auto;
    width: 50%;
}
.hero-text{
    display: flex;
    flex-direction: column;
    width: 55%;
    gap: 20px;
    justify-content: center;
}
.hero-text h1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin-top: auto;
}
.hero-text p{
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}
.hero-text button{
    background-color: #05bb0e;
    color: #E5E7EB;
    font-size: 14px;
    font-weight: 700;
    padding: 8px 30px;
    border-radius: 5px;
    border-width: 1px;
    border-color: #05bb0e;
}
button:hover{
    background-color: #045708;
    border-color: #045708;
}
.information-container{
    display: flex;
    flex-direction: column;
    padding: 3% 20% 3% 20%;
    background-color: #ffffff;
    gap: 1%;
}
.information-boxes,.box-text{
    display: flex;
}
.box-text{
    margin: 1% 0 0 0;
}
.information-container .box,.text{
    height: 100%;
    width: 15%;
    margin: 0 auto 0 auto;
}
.information-container img{
    width: 100%;
    height: auto;
}
.text{
    text-align: center;
}
.text p{
    font-weight: 600;
    font-size: 20px;
    color: #3c3d3f;
    margin: 0;
    padding: 0;
}
.highlight{
    color: #05bb0e;
}
.quote-container{
    background-color: #e5e7eb;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0% 20%;
}
.quote-container .quote{
    color: #141b15;
}
.quote-container .author{
    margin-left: auto;
    font-size: 30px;
}